body{
    font-family: verdana;   
    background: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 100%;
    width: 1366px;
    margin: 0 auto;
}
.header{
    display: flex;
    width: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.412);
}
.header__title{
    margin: 20px 0 19px 81px;
    flex-basis: 60%;
}
.header__title__journey{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.header__title__journey:hover{
    color: #3cb878;
    cursor: pointer;
}
.header__logos{
    flex-basis: 15%;
    margin: 17px 0;
    display: flex;
}
.header__logos__icon{
    width: 22px;
    height: 26px;
    margin-right: 28px;
}
.calculator{
    background: url('../img/icons.png') -31px 0;
}
.calculator:hover{
    background: url('../img/icons.png') -2px 0;
    cursor: pointer;
}
.message{
    width: 28px;
    background: url('../img/icons.png') -101px 0;
}
.message:hover{
    background: url('../img/icons.png') -63px 0;
    cursor: pointer;
}
.compass{
    background: url('../img/icons.png') -168px 0;
}
.compass:hover{
    background: url('../img/icons.png') -138px 0;
    cursor: pointer;
}
.header__login-message{
    margin-top: 24px;
    margin-bottom: 19px;
    font-size: 14px;
    flex-basis: 25%;
}
.link-green{
    color: #3cb878;
    text-decoration: none;
}
.link-green:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.main-content{
    padding: 50px 0;
}

.form{
    width: 444px;
    margin: 0 460px;
    background-color: white;
    padding-top: 29px;
    padding-bottom: 32px;
    border-radius: 10px;
}
.form__head{
    display: flex;
}
.shape{
    width: 18px;
    margin-right: 42px;
    background-color: #3cb878;
}
.form__head__title{
    color: #434343;
    font-size: 19px;
    padding-right: 205px;
}
.form__head__login-link{
    font-size: 14px;
    padding-top: 4px;
    color: #3cb878;
    text-decoration: none;
}
.form__head__login-link:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.form__button{
    width: 157px;
    padding: 13px 17px 13px 20px;
    border-radius: 3px;
    color: white;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: all 0.6s ease-out;
    cursor: pointer;
}
.form__button:hover{
    opacity: 0.8;
}

.facebook{
    margin: 15px 0 30px 62px;
    background-color: #305db8;
}
.facebook:active{
    background-color: #0055ff;
}
.google{
    background-color: #df4a32;
}
.google:active{
    background-color: #ff2200;
}
.button-line {
    border-left: 1px solid black;
    height: 28px;  
    margin: 0 18px 0 17px;
    opacity: 0.2;
  }
.form__seperator{
    display: flex;
    margin: 0 60px 18px 62px;
    opacity: 0.4;
}
.form__seperator__horizontal-line{
    width: 132px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 6px;
}
.form__seperator__text{
    margin: 0 18px;
}
.form__field-default{
    width: 303px;
    padding: 15px 0 15px 19px;
    margin: 9px 60px 0 60px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 2px;
    transition: all 0.5s ease-out;
}
.form__field-default::placeholder{
    color: #bebebe;
}

.form__field-default:focus {
    outline: none;
    border-radius: 3px;
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.21);
    background-color: var(--white);
}
.form__agree-checkbox{
    appearance: none;
    border: 1px solid rgba(0, 0, 0, .21);
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin: 19px 13px 25px 62px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form__agree-checkbox:after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f00C';
    font-size: 15px;
    color: #3cb878;
    display: none;
}
.form__agree-checkbox:checked{
    background-color: white;
}
.form__agree-checkbox:checked:after{
    display: block;
}

.form__button-green{
    width: 322px;
    margin: 0 60px 0 62px;
    padding: 17px 100px;
    background-color: #3cb878;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    transition: all 0.4s ease-out;
}
.form__button-green:hover{
    background-color: #1dce73;
}